/*Checkbox button*/
input[type="checkbox"] {
    appearance: none;
    padding: 16px 32px;
    margin: 8px;
    border-radius: 16px;
    background: radial-gradient(circle 12px, white 100%, transparent calc(100% + 1px)) #ccc -16px;
    transition: 0.3s ease-in-out;
}

    input[type="checkbox"]:checked {
        background-color: forestgreen;
        background-position: 16px;
    }
